/*Check Link: https://html.com/tags/img/*/
/*
* {
        margin: 0;
        padding: 0;
}
*/

html, body {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

/* Body */
/* Header */

.wrapper {
    width: 960px;
    margin: 0 auto; 
}

.hero {
    background-color: rgb(82, 225, 197);
    color: darkblue;
    min-height: 100vh;
    padding: 50px 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

}

.hero a {
    color: darkblue;
    text-decoration: none;
}

h4 {
    margin 0;
/*    margin-top: 0;*/
    font-weight: bold;
    font-size: 20px;
}

h1 {
    margin: 14px 0 20px;
    font-weight: 800;
    font-size: 50px;
}

h3{
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.hero h3 {
    margin-bottom: 35px;
}

.character1 {
    background: url(../img/bye-guy.png) no-repeat 0 0;
    background-size: 100%;
    width: 384px;
    height: 392.6px;
    position: absolute;
    top: 117px;
    right: 89px;
    transform: rotate(-7deg);
}

.character2 {
    background: url(../img/eish-guy.png) no-repeat 0 0;
    background-size: 100%;
    width: 300px;
    height: 397px;
    position: absolute;
    top: 360px;
    right: 400px;
    
}

.character3 {
    background: url(../img/floating-plant-guy.png) no-repeat 0 0;
    background-size: 100%;
    width: 341px;
    height: 387.3px;
    position: absolute;
    bottom: 60px;
/*    top: 520px;*/
    left: 52px;
}

.blue-button,
button.blue-button,
.yellow-button {
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    background: rgb(82, 225, 197);
    box-shadow: 0 0 0 10px rgba(0, 127, 255, 0.15);
    color: darkblue; 
    padding: 20px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.blue-button:active,
.yellow-button:active {
    opacity: 0.7;
}

.yellow-button {
    background: rgb(255,212,0);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.15);
}

/** Navegation Bar **/
nav {
    height: 100px;
    background: white;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1;
}

nav .logo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat 0 0;
    background-size: cover;
    display: block;
    width: 300px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 30px;
    margin-top: -20px;
    overflow: hidden;
    text-indent: -999px;
}

nav ul, nav ul li {
    margin: 0 20px 0 0;
    padding: 0;
    display: block;
    float: right;
    box-sizing: border-box;

}

nav ul li {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-weight: bold;
    padding: 30px 10px;
}

nav li a {
    color: black;
    text-decoration: none;
}


/* Main */
/** More Info **/
.more-info {
    display: block;
    text-align: center;
}

h2 {
    display: block;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

.more-info h2 {
    margin: 50px 0px 0px;
}

p {
    font-weight: bold;
}

.more-info p {
    margin-top: 18px;
    margin-bottom: 35px;
}

p mark {
    color: rgb(255, 51, 0);
    background-color: rgba(250,128,114, 0.3);
    padding: 5px;
    font-weight: 800;
}

div .blue-button {
    margin-top: 60px auto;
}

/** Separators **/
.separator {
    display: block;
    background-image: url("../img/separator.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 10px;
    width: 470px;
    margin: 70px auto;

}

/* Story Items */
.nb-list {
    display: inline-block;
    float: left;
    text-decoration: none;
    width: 470px;
    margin: 0px 20px 0px 0px;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    background-color: #EDEDED;
    position: relative;
}

.no-list, li {
    height: 70px;
    border-radius: 10px;
    font-size: 40px;
    font-weight: bold;
    display: block;
    color: white;
    margin-bottom: 20px;
    padding: 6px 20px;
    box-sizing: border-box;

}

.nb-list .blue { background-color: #007FFF; }
.nb-list .gray { background-color: rgba(0, 0, 0, 0.1); }
.nb-list .yellow { background-color: #FFD400; color: darkblue; }
.nb-list .red { background-color: #FF3300; }
.nb-list .salmon { background-color: #FA8072; }
.nb-list .aqua { background-color: #52E1C5; color: darkblue;}

/*Special Item*/
li.dragging {
    position: absolute;
    top: 70px;
    left: 70px;
    right: -30px;
    transform: rotate(6deg);
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.3);
}

li.dragging:after {
    content: '';
    display: block;
    position: absolute;
    width: 54px;
    height: 50px;
    background-image: url(../img/hand.png);
    background-size: cover;
    top: 46px;
    left: 70%;
}

/** Story **/
.story {
    display: block;
    width: 960px;
    margin: 0 auto;
}

.story h2 {
    font-size: 40px;
}

div.story h2 {
    text-align: start;
}

#the-gang {
    display: block;
    background-image: url("../img/the-gang.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 735px;
    height: 400px;
    margin: 70px auto 85px auto;
    
}


/* Footer */
footer p,
footer p a,
footer p a:visited,
footer p a:active
{
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    text-decoration: none;
    margin-bottom: 45px;
}
    
footer p a:hover {
    color: rgba(0, 0, 0, 0.8);
}

.popup {
    display: none;
}

/*

* Pop Up *
.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.popup .blanket {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup .content {
    position: absolute;
    background-color: white;
    width: 960px;
    height: 540px;
    top: 50%;
    margin-top: -270px;
    left: 50%;
    margin-left: -480px;
}


.labelinput-top {
    display: inline-block;
    margin: auto;
}

.labelinput-bottom {
    display: inline-block;
}

label {
    font-size: 20px;
    font-weight: bold;
}

input {
    width: 415px;
    height: 70px;
    font-size: 30px;
    font-weight: bold;
}
*/

/*
    <div class="popup">
        <div class="blanket"></div>
        <div class="content">
            <h2>Fill In Your Details</h2>
            <form method="" action="#">
                <div>
                    <label for="">Your First Name</label>
                    <input type="text" placeholder="First Name" value="Shirley">
                </div>
                <div>
                    <label for="">Your Last Name</label>
                    <input type="text" placeholder="Last Name">
                </div>
                <div>
                    <label for="">Your Favourite Color</label>
                    <input type="text" placeholder="Blue">
                </div>
                <div>
                    <label for="">Your Favourite Food</label>
                    <input type="text" placeholder="Apple Pie">
                </div>
                <button class="blue-button">I Want In!</button>
            </form>
        </div>
        <button class="close">Close</button>
    </div>
*/
